@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

main {
  min-height: 80vh;
  background-color: aliceblue;
}

h1 {
  font-size: 1.6rem;
  padding: 0.5rem;
  font-weight: bolder;
  color: #2B59FF;
}

h2 {
  font-size: 1.4rem;
  padding: 0.3rem 0;
}

h3 {
  font-size: 1.2rem;
  padding: 0.2rem 0;
}

h4 {
  font-size: 1rem;
  text-transform: none;
}
h5 {
  font-size: 1rem;
}

a {
  text-decoration: "none";
}
