
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");



main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 0.6rem 0;
}

h4 {
  font-size: 0.9rem;
  text-transform: none;
}

a {
  text-decoration: 'none';
}